node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
